---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=simple-job-test-test&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20210113T205053Z
      X-Amz-Content-Sha256:
      - f850bf8c73948478be235b2c2422822c16b89bea05c42ea2dd4772da660a15b8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAITWPSEAFLHYUWYBQ/20210113/us-east-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=da04b690b8045e4846a434f1f6591f58f1a563a5d872d8e32b783c5a6b91bd42
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 63e0eaa9-5ba8-5a0e-a43b-b2d004c62288
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/615239028156/simple-job-test-test</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>63e0eaa9-5ba8-5a0e-a43b-b2d004c62288</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Wed, 13 Jan 2021 20:50:53 GMT
recorded_with: VCR 4.0.0
