---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=simple-job-test-test&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20210113T205056Z
      X-Amz-Content-Sha256:
      - f850bf8c73948478be235b2c2422822c16b89bea05c42ea2dd4772da660a15b8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAITWPSEAFLHYUWYBQ/20210113/us-east-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=02515495d4a9ffaada5227af04257dd925f765d01164fa74fad81343c720f51d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bcab4092-2ca6-55e4-b974-18eb73d7dca4
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/615239028156/simple-job-test-test</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>bcab4092-2ca6-55e4-b974-18eb73d7dca4</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Wed, 13 Jan 2021 20:50:57 GMT
recorded_with: VCR 4.0.0
